<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/list.css">

  <script src="/js/home.js"></script>
  <script>
    function openForm() {
      document.getElementById("studentFormModal").style.display = "block";
    }

    function closeForm() {
      document.getElementById("studentFormModal").style.display = "none";
    }

    function openUpdateForm(button) {
      document.getElementById("updateForm").style.display = "block";

    }

    function closeUpdateForm() {
      document.getElementById("updateForm").style.display = "none";
    }

    // Đóng modal khi nhấn ra ngoài
    window.onclick = function(event) {
      const modal = document.getElementById("studentFormModal");
      if (event.target === modal) {
        modal.style.display = "none";
      }
    };
  </script>

</head>
<body>

<!-- Header -->
<div class="header">
  <button class="menu-btn" onclick="toggleSidebar()">☰</button>
  <h2><a href="/home">RSMS</a></h2>
  <div class="user-info">
    <img src="/images/account.jpg" alt="User Avatar" class="user-avatar"/>
    <div class="dropdown">
      <span th:text="${account.displayName}" class="user-name" onclick="toggleDropdown()"> ▼</span>
      <div id="dropdown-menu" class="dropdown-content">
        <a href="/user/userprofile">👤 View Profile</a>
        <a href="/#" id="logout">🚪 Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">

  <h2>Feature</h2>
  <a href="/user/userprofile" >Profile</a>
  <a href="/account/listStaff" th:style="${#lists.contains(listHiddenPage, 'listStaff')} ? 'display: none;' : ''">Staff Account Management</a>

  <a href="/product/listProduct" >Rice Management</a>

  <a href="/customer/listCustomer">Customer Management</a>

  <a href="/warehouse/listWarehouseZone" >WarehouseZone Management</a>


  <a href="/listInvoice"  >Invoice Management</a>

</div>



<!-- Content -->
<div class="content" id="content">

  <!-- Modal Form -->
  <button class="add-btn" onclick="openForm()">+</button>
  <div id="studentFormModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeForm()">x</span>
      <h2>Add new rice</h2>
      <form th:action="@{/form}" method="post" enctype="multipart/form-data"
            onsubmit="showSuccessAlert()" >

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="price">Price:</label>
        <input type="text" id="price" name="price" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <label for="image">Image:</label>
        <input type="file" id = image accept="image/*">

        <button type="submit" class="submit-button">Create</button>
      </form>
    </div>
  </div>

  <!-- List -->
  <h1>List of Products</h1>
  <form th:action="@{/product/search}" method="get">
    <label for="search"></label>
    <input
            style="height: 30px; width: 750px"
            type="text" id="search" name="searchKeyWord"
            placeholder="Search by product name or description..." required
    >
    <select name="searchBy">
      <option value="name" th:selected="${sortField == 'name'}">Name</option>
      <option value="description" th:selected="${sortField == 'description'}">Description</option>
    </select>

    <button type="submit" class="submit-button">Search</button>
  </form>
  <table class="styled-table">
    <thead>
    <tr>
      <td>Image</td>
      <th>
        <a style="text-decoration: none; color: inherit"
           th:href="@{/listproduct(page=${currentPage}, sortField='name', sortDirection=${reverseSortDirection})}">Name
        </a>
      </th>
      <td>
        <a style="text-decoration: none; color: inherit"
           th:href="@{/listproduct(page=${currentPage}, sortField='price', sortDirection=${reverseSortDirection})}">Price
        </a>
      </td>
      <td>Description</td>
      <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products.content} " th:if="${product.isDeleted == 0}">
      <!--                <td th:text="${product.name}"></td>-->
      <td><img src="https://tvfood.com.vn/vnt_upload/news/09_2023/gao_nep_la_gi.jpg" width="100px" alt=""></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.description}"></td>
      <td >
        <form th:action="@{/delete}" method="post">
          <input type="hidden" name="id" th:value="${product.id}">
          <button type="submit">Delete</button>
        </form>
        <button onclick="openUpdateForm(this)" th:data-id="${product.id}">Update</button>
        <div id="updateForm" class="modal" style="display: none">
          <div class="modal-content">
            <span class="close" onclick="closeUpdateForm()">x</span>
            <h2>Update rice information</h2>
            <form th:action="@{/update}" method="post" enctype="multipart/form-data">
              <input type="hidden" name="id" th:value="${product.id}">

              <label for="newName">New Name:</label>
              <input type="text" id="newName" name="newName" required>

              <label for="newPrice">New Price:</label>
              <input type="text" id="newPrice" name="newPrice" required>

              <label for="newDescription">New Description:</label>
              <input type="text" id="newDescription" name="newDescription" required>

              <label for="newImage">New Image:</label>
              <input type="file" id = "newImage" name="newImage" accept="image/*">

              <button type="submit" class="submit-button">Update</button>
            </form>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <span th:text="'Trang ' + ${currentPage + 1} + ' / ' + ${totalPages}"></span>
    <a style="text-decoration: none; color: inherit" th:if="${currentPage > 0}" th:href="@{/listproduct(page=${currentPage - 1}, sortField=${sortField}, sortDirection=${sortDirection})}">Trước</a>
    <a style="text-decoration: none; color: inherit" th:if="${currentPage + 1 < totalPages}" th:href="@{/listproduct(page=${currentPage + 1}, sortField=${sortField}, sortDirection=${sortDirection})}">Sau</a>
  </div>



</div>
<footer>
  &copy; 2025 Rice Sales Management. All Rights Reserved.
</footer>

</body>
</html>